<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="hirepage.css">
</head>
<body>
<h1> Welcome to HR system!</h1>
<div>
    <form th:action="@{/employee/hire}" th:object="${employee}" th:method="post">
        <div class="container">
            <label><b>ID</b></label>
            <input type="text" placeholder="Enter Employee id" th:field="*{id}" required>

            <label><b>Name</b></label>
            <input type="text" placeholder="Enter Employee name" th:field="*{name}" required>

            <label><b>Salary</b></label>
            <input type="text" placeholder="Enter Employee's Salary'" th:field="*{salary}" required>

            <label><b>maxHoursPerWeek</b></label>
            <input type="text" placeholder="Enter Employee's max work time per week" th:field="*{maxHoursPerWeek}"
                   required>

            <label><b>hoursPerShift</b></label>
            <input type="text" placeholder="Enter Employee's hour per shift" th:field="*{hoursPerShift}"
                   required>

            <button type="submit">Hire</button>
        </div>
    </form>
</div>
<div>
    <form th:action="@{/employee/fire}" th:object="${employee}" th:method="post">
        <div class="container">
            <label><b>ID</b></label>
            <input type="text" placeholder="Enter Employee id" th:field="*{id}" required>

        <button type="submit">Fire</button>
</div>
</form>
</div>
<div>
    <form th:action="@{/employee/addshift}" method="post">
        <label><b>ID</b></label>
        <input type="text" th:value="${employee.id}" name = "employee">
        <label><b>Localtime</b></label>
        <input type="datetime-local" name = "date">
        <label><b>Location</b></label>
        <input type="text"  name = "location">
        <label><b>Hours per shift</b></label>
        <input type="number" name = "hours">
        <button type="submit">Shift</button>
    </form>
</div>
<div>
    <form th:action="@{/employee/addmeeting}" method="post">
        <input type="text" th:value="${employee.id}" name = "employee">
        <input type="number" name = "participants">
        <input type="number" name = "participants">
        <input type="number" name = "participants">
        <input type="number" name = "participants">
        <input type="number" name = "participants">
        <input type="number" name = "participants">
        <input type="text"  name = "location">
        <input type="number"  name = "hours">
        <input type="datetime-local"  name = "date">
        <button type="submit">Addmeeting</button>
    </form>
</div>
<div>
    <p th:text="${message}"></p>
</div>
</body>
</html>
