<html>
<head>
	<title>Schedule page</title>
	<link th:href="@{/css/hirepage.css}" rel="stylesheet" />
</head>

<h1>Scheduling</h1>
<p>Status: <span th:text="${status}"></span></p>

<div th:each="empl : ${employees}">
	<p>Name: <span th:text="${empl.getName()}"></span></p>

	<div style="margin-left: 3em">
		<p th:each="event : ${empl.getCalendar().getEvents()}">
			<strong th:text="${event.getStartString()}"></strong>:
			<span th:text="${event.getHours()}"></span>
			hours
		</p>
	</div>
</div>
<button type="button" class="btn-primary"><a href="http://localhost:8080/welcome">Return to main menu</a></button>

